[mongo]
database = keemu

[keemu]
# The directory where the keemu export files are deposited
export_dir = /exports
archive_dir = /archive
# Location of the keemu schema
schema = /schema.pl

[ckan]
site_url =
api_key =

[core]
error-email:

[datastore]
host =
database =
# Copy to datastore - requires root access
user =
password =
# The owner to set the tables to after copying
owner =
# Datastore read user
datastore_readonly =