[mongo]
database = keemu

[keemu]
# The directory where the keemu export files are deposited
export_dir = /exports
archive_dir = /archive
# Location of the keemu schema
schema = /schema.pl

[ckan]
site_url =
api_key =
owner_org =

[core]
error-email: