[mongo]
database = [db name]
host = 127.0.0.1

[keemu]
# The directory where the keemu export files are deposited
export_dir =
# Location of the keemu schema
schema =
# We only want files since the last full export date
full_export_date = YYYYMMDD

[ckan]
site_url = http://157.140.126.18:8000
api_key = 8fb9ec7d-431b-4ddb-83a5-a6656dd9a8e8
owner_org = nhm

# The specimen indexes
[solr]
indexes = url, url
