-e git+https://github.com/NaturalHistoryMuseum/KEParser.git#egg=KEParser
-e git+https://github.com/spotify/luigi.git#egg=luigi
openpyxl>=1.6.1,<=2.0.0
pandas==0.14.0
pymongo==2.7
Monary==0.2.3
-e git+https://github.com/ckan/ckanapi#egg=ckanapi
tornado==4.0.2