-e git+https://github.com/NaturalHistoryMuseum/KEParser.git#egg=KEParser
-e git+https://github.com/spotify/luigi.git@1.3.0#egg=luigi
openpyxl>=1.6.1,<=2.0.0
pandas==0.14.0
pymongo==2.7
Monary
-e git+https://github.com/ckan/ckanapi#egg=ckanapi
tornado==4.0.2
pyyaml
numpy
python-dateutil
requests